footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-left: 35%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
}